@import url(}çççdata:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogMzAwOwogIHNyYzogbG9jYWwoJ1JvYm90byBMaWdodCcpLCBsb2NhbCgnUm9ib3RvLUxpZ2h0JyksIHVybChodHRwOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9yb2JvdG8vdjE1L0hnbzEzay10ZlNwbjBxaTFTRmRVZmFDV2N5bmZfY0R4WHdDTHhpaXhHMWMudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0KQGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogNDAwOwogIHNyYzogbG9jYWwoJ1JvYm90bycpLCBsb2NhbCgnUm9ib3RvLVJlZ3VsYXInKSwgdXJsKGh0dHA6Ly9mb250cy5nc3RhdGljLmNvbS9zL3JvYm90by92MTUvek43R0JGd2ZNUDR1QTZBUjBIQ29MUS50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQpAZm9udC1mYWNlIHsKICBmb250LWZhbWlseTogJ1JvYm90byc7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA3MDA7CiAgc3JjOiBsb2NhbCgnUm9ib3RvIEJvbGQnKSwgbG9jYWwoJ1JvYm90by1Cb2xkJyksIHVybChodHRwOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9yb2JvdG8vdjE1L2QtNklZcGxPRm9jQ2FjS3p4d1hTT0tDV2N5bmZfY0R4WHdDTHhpaXhHMWMudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}












































































































































































































































































































*{
	outline:solid red 1px;
}
.plomo-oscuro{
	background:#141d25;
}
.plomo-claro{
	background:#34495e;
	}
.rosado-salmon{
	background:#e74c3c;
}
.esmeralda{
	background:#2ecc71;
}
.plomito{
	background:#f4f4f3;
}
.especial{
	height:50px;
}
.altura{
   margin:10px 0 20px 0;
}
.parrafo{
    border-left:5px solid white;
    padding-left:10px;
    margin-top:25px;
}
.unico{
	width:20px;
}
.indicador{
	width:130px;
    float:right;
}
.indicador p{
	width:60px;
	display:inline-block;
}
#lista-compani{
	list-style:none;
	padding:0;
}
.pequeño{
	font-size:10px;
	font-family:Roboto;
	color:white;
}
.centrado{
	text-align:center;
}
#lista-footer{
  list-style:none;
  float:right;
  padding:0;
  margin-top:20px;
}
#lista-footer li{
  margin:0 5px 0 5px;
  display:inline-block;

}
#lista-footer li a{
	text-decoration:none;
	color:white;
	font-family:Roboto;
}
.blanco{
	color:white;
	font-family:Roboto;
}
.separado{
	margin-top:20px;
	font-size:12px;
}

.btn-default{
    color:white;
    background:#e74c3c;
    height:28px;

}
.form-control{
	height:28px;

}
input:required{

}
.icon-arrow-up{
	color:white;
	font-size:15px;
}
.foto-1{
	width:100%;
	padding:10px;
	background:white;
	margin-top:20px;

}
.pequeño-negro{
	width:100%;
	padding-left:10px;
	background:white;
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
}
.caja-parrafo{
	border-left:5px solid grey;
	padding-left:10px;
	margin-top:30px;
}









