@import url(}çççdata:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogMzAwOwogIHNyYzogbG9jYWwoJ1JvYm90byBMaWdodCcpLCBsb2NhbCgnUm9ib3RvLUxpZ2h0JyksIHVybChodHRwOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9yb2JvdG8vdjE1L0hnbzEzay10ZlNwbjBxaTFTRmRVZmFDV2N5bmZfY0R4WHdDTHhpaXhHMWMudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0KQGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogNDAwOwogIHNyYzogbG9jYWwoJ1JvYm90bycpLCBsb2NhbCgnUm9ib3RvLVJlZ3VsYXInKSwgdXJsKGh0dHA6Ly9mb250cy5nc3RhdGljLmNvbS9zL3JvYm90by92MTUvek43R0JGd2ZNUDR1QTZBUjBIQ29MUS50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQpAZm9udC1mYWNlIHsKICBmb250LWZhbWlseTogJ1JvYm90byc7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA3MDA7CiAgc3JjOiBsb2NhbCgnUm9ib3RvIEJvbGQnKSwgbG9jYWwoJ1JvYm90by1Cb2xkJyksIHVybChodHRwOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9yb2JvdG8vdjE1L2QtNklZcGxPRm9jQ2FjS3p4d1hTT0tDV2N5bmZfY0R4WHdDTHhpaXhHMWMudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
ul{
	margin: 0px;
}
/*** inicio header**/
.main-menu{
	list-style: none;
    background: #141d25;
    height: 60px;
    
    }
.list-nav{
    text-align: right;
}
	
.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: inline block;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	padding: 22px 10px 22px 10px;
	float: right;
	height: 60px;

}
ul .list-nav{
	display: inline-block;
	padding-bottom: 20px;
	height: 300px; 
	float: right;
}
.list-nav a:hover{
	text-decoration: none;
	transform: scale(1.2);
	transition:all 0.5s;}
.logo{
	display: inline-block;
	float: left;
	padding-bottom: 15px;
	padding-left: 100px;
	padding-top: 15px
}
.fondo-icon{

	background: rgba (0, 0, 0, 0.8);
	border-radius: 100%;
	width: 50px;
	height: 50px;
}
/*inicio verde*/
.verde{
	background: #0AC568;
	padding:30px;
	background: rgba (0, 0, 0, 0.1);
}
.verde1{
	background: #0AC568;
	padding:5px;
}
i.icon-twitter{
    list-style: none;
	color: #FFFFFF; 
	font-size: 30px;
	padding: 5px;
}
i.icon-facebook{
    list-style: none;
	color: #FFFFFF;
	background: rgba (0, 0, 0, 0.1);
	border-radius: 100%; 
	font-size: 30px;
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	padding: 5px;
}
i.icon-google-plus-sign{
    list-style: none;
	color: #FFFFFF;
	background: rgba (0, 0, 0, 0.1);
	border-radius: 100%; 
	font-size: 30px;
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	padding: 5px;
}
.letra{
	font-size: 13px;
	color: #FFFFFF;
}
.letra1{
	font-size: 18px;
	color: #FFFFFF;
}
/***inicio blanco***/
.white{
padding-top: 100px;
padding-bottom: 100px;
padding-left: 30px;
padding-right: 30px;
background: #f4f4f3;
}
.play{
	background: #e74c3c;
	color: #FFFFFF;
}
.foto{
	float: right;
	display: inline-block;
	padding: 20px;
	width:100%;
	height: 100%;
	background: #FFFFFF;

}
.sep{
	padding-top: 50px;
}
.letra2{
	font-size: 20px; 
}
.letra3{
	font-size: 8px;
    text-align: center;
}
/***fin blanco***/
/*contact*/
iframe{
	width:100%;
}









































































































































































































































































































.plomo-oscuro{
	background:#141d25;
}
.plomo-claro{
	background:#34495e;
	}
.rosado-salmon{
	background:#e74c3c;
}
.esmeralda{
	background:#2ecc71;
}
.plomito{
	background:#f4f4f3;
}
.especial{
	height:50px;
}
.altura{
   margin:10px 0 20px 0;
}
.parrafo{
    border-left:5px solid white;
    padding-left:10px;
    margin-top:25px;
}
.unico{
	width:20px;
}
.indicador{
	width:130px;
    float:right;
}
.indicador p{
	width:60px;
	display:inline-block;
}
#lista-compani{
	list-style:none;
	padding:0;
}
.pequeño{
	font-size:10px;
	font-family:Roboto;
	color:white;
}
.centrado{
	text-align:center;
	font-family:Roboto;
}
#lista-footer{
  list-style:none;
  float:right;
  padding:0;
  margin-top:20px;
}
#lista-footer li{
  margin:0 5px 0 5px;
  display:inline-block;

}
#lista-footer li a{
	text-decoration:none;
	color:white;
	font-family:Roboto;
}
.blanco{
	color:white;
	font-family:Roboto;
}
.separado{
	margin-top:20px;
	font-size:12px;
}

.btn-default{
    color:white;
    background:#e74c3c;
    height:28px;

}
.form-control{
	height:28px;

}
input:required{

}
.icon-arrow-up{
	color:white;
	font-size:15px;
}
.foto-1{
	width:100%;
	padding:10px;
	background:white;
	margin-top:20px;

}
.pequeño-negro{
	width:100%;
	padding-left:10px;
	background:white;
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
}
.caja-parrafo{
	border-left:5px solid grey;
	padding-left:10px;
	margin-top:30px;
}

.icon-windows , .icon-android , .icon-apple , .icon-linux , .icon-circle-blank , .icon-google-plus
{
	color:white;
	background:grey;
	padding:8px;
	border-radius:20px;
	width:100%;
	position:relative;
	top:8px;
	left:10px;
}
.azul{
	width:40%;
	background:#5882FA;
}
.progress{
	background:white;
}
.rojo{
	background:#CF7878;
}
.verd{
	background:#78CF85;
}
.celeste{
	background:#78CFCB;
}
.naranja{
	background:#DF9D21;
}
.imagen{
	width:85%;
	margin:0 auto;
	margin-top:10%;
}
.imagen img{
    width:85%;
    border-radius:85%;
    border:3px solid white;
    margin-left:10%;
    margin-bottom:10%;
    
}
.pequeño-plomo{
    opacity:0.5;
    font-size:12px;
}
.icono{

	margin-left:30%;
	margin-bottom:20px;
}
.icon-uniE0AA{
    font-size:150%;
  }
.icon-uniE0AB{
	font-size:150%;
	color:red;
	
}
.icon-uniE0AD{
	font-size:150%;
	color:skyblue;

}
.icon-uniE0B4{
	font-size:150%;
	color:#5882FA;
}
.formulario{
	margin-bottom:20px;
}
.mensaje{
	margin-top:25px;
}



