@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}












































































































































































































































































































*{
	outline:solid red 1px;
}
.plomo-oscuro{
	background:#141d25;
}
.plomo-claro{
	background:#34495e;
	}
.rosado-salmon{
	background:#e74c3c;
}
.esmeralda{
	background:#2ecc71;
}
.plomito{
	background:#f4f4f3;
}
.especial{
	height:50px;
}
.altura{
   margin:10px 0 20px 0;
}
.parrafo{
    border-left:5px solid white;
    padding-left:10px;
    margin-top:25px;
}
.unico{
	width:20px;
}
.indicador{
	width:130px;
    float:right;
}
.indicador p{
	width:60px;
	display:inline-block;
}
#lista-compani{
	list-style:none;
	padding:0;
}
.pequeño{
	font-size:10px;
	font-family:Roboto;
	color:white;
}
.centrado{
	text-align:center;
}
#lista-footer{
  list-style:none;
  float:right;
  padding:0;
  margin-top:20px;
}
#lista-footer li{
  margin:0 5px 0 5px;
  display:inline-block;

}
#lista-footer li a{
	text-decoration:none;
	color:white;
	font-family:Roboto;
}
.blanco{
	color:white;
	font-family:Roboto;
}
.separado{
	margin-top:20px;
	font-size:12px;
}

.btn-default{
    color:white;
    background:#e74c3c;
    height:28px;

}
.form-control{
	height:28px;

}
input:required{

}
.icon-arrow-up{
	color:white;
	font-size:15px;
}
.foto-1{
	width:100%;
	padding:10px;
	background:white;
	margin-top:20px;

}
.pequeño-negro{
	width:100%;
	padding-left:10px;
	background:white;
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
}








